<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Lunch Trip</a>

    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Members</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/cafe/create']" class="nav-link">Create cafe</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="adminAllowed()">
        <a class="nav-link" [routerLink]="['/checker']">Checker</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="loggedIn()" dropdown>
      <span>
        <img alt="user_avatar" src="{{photoUrl || '../../../assets/images/user1.png'}}">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a [routerLink]="['/members/edit']" class="dropdown-item"><i class="fa fa-user mr-2"></i>Edit profile</a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out mr-2"></i>Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" [formGroup]="form" (ngSubmit)="login()">
      <label>
        <input class="form-control mr-sm-2" formControlName="username" type="text" placeholder="Username">
      </label>
      <label>
        <input class="form-control mr-sm-2" formControlName="password" type="password" placeholder="Password">
      </label>
      <button class="btn btn-success my-2 my-sm-0" [disabled]="!form.valid" type="submit">Login</button>
    </form>
  </div>
</nav>
